# MySQL (default setup).  Versions 4.1 and 5.0 are recommended.
#
# Install the MySQL driver:
#   gem install mysql
# On MacOS X:
#   gem install mysql -- --include=/usr/local/lib
# On Windows:
#   gem install mysql
#       Choose the win32 build.
#       Install MySQL and put its /bin directory on your path.
#
# And be sure to use new-style password hashing:
#   http://dev.mysql.com/doc/refman/5.0/en/old-client.html
default: 
  adapter: mysql2
  host: localhost
  database: login_app
  port: 3306
  username: root
  password:
  encoding: utf8
  reconnect: false
  pool: 10
  min_messages: ERROR

development: 
  adapter: mysql2
  host: localhost
  database: login_app
  port: 3306
  username: root
  password:
  encoding: utf8
  reconnect: false
  pool: 10
  min_messages: ERROR

production: 
  url: 'mysql2://b7a0fd3fd34b7d:6d7b94ca@us-cdbr-east-03.cleardb.com/heroku_830804a81eacc58?reconnect=true'
  adapter: mysql2
  host: '127.0.0.1'
  database: login_app
  port: 3306
  username: root
  password:
  encoding: utf8
  reconnect: false
  pool: 10
  min_messages: ERROR

test: 
  adapter: mysql2
  host: '127.0.0.1'
  database: login_app
  port: 3306
  username: root
  password:
  encoding: utf8
  reconnect: false
  pool: 10
  min_messages: ERROR